{% extends "base.html" %}

{% block content %}
    <h1>About the Shelter</h1>

    <p id="about">
        Cat ipsum dolor sit amet, sit in a box for hours give attitude. Hack catch eat throw up catch eat throw up bad birds, curl up and sleep on the freshly laundered towels attack the dog then pretend like nothing happened, or pushed the mug off the table yet jump five feet high and sideways when a shadow moves. Purrr purr littel cat, little cat purr purr flop over, for look at dog hiiiiiisssss. Cuddle no cuddle cuddle love scratch scratch eat the rubberband for my left donut is missing, as is my right morning beauty routine of licking self i want to go outside let me go outside nevermind inside is better for enslave the hooman. I cry and cry and cry unless you pet me, and then maybe i cry just for fun bite plants or make meme, make cute face. Headbutt owner's knee. This is the day.
    </p>
{% endblock content %}
